<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.google.android.exoplayer2.demo">

  <application
    android:allowBackup="false"
    android:banner="@drawable/ic_banner"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/application_name"
    android:largeHeap="true"
    android:name=".DemoApplication"
    android:requestLegacyExternalStorage="true"
    tools:ignore="UnusedAttribute">
    <activity android:name="cn.youngkaaa.test.TestActivity"
      android:theme="@style/Theme.AppCompat">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>

    </activity>
    <activity
      android:configChanges="keyboardHidden"
      android:label="@string/application_name"
      android:name=".SampleChooserActivity"
      android:theme="@style/Theme.AppCompat">
<!--      <intent-filter>-->
<!--        <action android:name="android.intent.action.MAIN" />-->

<!--        <category android:name="android.intent.category.LAUNCHER" />-->
<!--        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
<!--      </intent-filter>-->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:scheme="content" />
        <data android:scheme="asset" />
        <data android:scheme="file" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.exolist\\.json" />
      </intent-filter>
    </activity>
    <activity
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
      android:label="@string/application_name"
      android:launchMode="singleTop"
      android:name=".PlayerActivity"
      android:theme="@style/PlayerTheme">
      <intent-filter>
        <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:scheme="content" />
        <data android:scheme="asset" />
        <data android:scheme="file" />
      </intent-filter>
      <intent-filter>
        <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <service
      android:exported="false"
      android:name=".DemoDownloadService">
      <intent-filter>
        <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </service>
    <service
      android:exported="true"
      android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
      android:permission="android.permission.BIND_JOB_SERVICE" />
  </application>

  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="false" />
  <uses-feature
    android:name="android.software.leanback"
    android:required="false" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <uses-sdk />

</manifest>